{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inTouch |</title>
    <link rel="stylesheet" type="text/css" href={% static "welcome/css/profile.css" %}>
</head>
<style type="text/css">
    input {outline:none}
    img{ margin-top: 15px}
</style>
<body>
    <a href="{% url 'home' %}">inTouch</a>
    <div class="settings">
        <h1>НАСТРОЙКИ</h1>
        <input id="tab1" type="radio" name="head" checked>
        <label for="tab1" id="prof">ПРОФИЛЬ</label>

        <input id="tab2" type="radio" name="head">
        <label for="tab2">ССЫЛКИ</label>
        <section id="content1">
            <form method="post">
                {% csrf_token %}
                <p class="par">ИМЯ</p>
                {% for field in user_form %}
                    <p class="par2">{{ field }}</p>
                    {% if field.errors %}
                        <div class="errorfield">
                            {{field.errors}}
                        </div>
                {% endif %}
                {% endfor %}
                <p class="par">ОПИСАНИЕ</p>
                {% for field in profile_form %}
                    <p class="par2">{{ field }}</p>
                    {% if field.errors %}
                        <div class="errorfield">
                            {{field.errors}}
                        </div>
                {% endif %}
                {% endfor %}
                <input class="submit" type="submit" value="СОХРАНИТЬ">
            </form>
        </section>
        <section id="content2">
            <form method="post">
                {% csrf_token %}
                <p class="par">МЕССЕНДЖЕРЫ </p>
                {% for field in mssg_form %}
                    <p class="par2">
                        {{ field }}
                    </p>
                    {% if field.errors %}
                        <div class="errorfield">
                            {{field.errors}}
                        </div>
                    {% endif %}
                {% endfor %}
                <input class="submit" type="submit" value="СОХРАНИТЬ">
            </form>
        </section>
    </div>
    <div class="card">
        <h2>{{ user.username }}</h2>
        <ul>
            <li>{{ user.profile.description }}</li>
            <li><a href="https://{{ user.profile.telegram }}">{{ user.profile.telegram }}</a></li>
            <li><a href="https://{{ user.profile.vk }}">{{ user.profile.vk }}</a></li>
        </ul>
    </div>
    <script src="https://mssg.me/widget/rustamx" async></script>
</body>
</html>