{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static "welcome/css/style.css" %}>
    <title>inTouch</title>
</head>
<body>
	<div class = "navbar">
        <img src = "{% static "welcome/img/logo.png" %}" class = "logo">
		<ul>
			<li> <a href="#">inTouch</a> </li>
			<li> <a id="btn" href="#">ВОЙТИ</a> </li>
		</ul>
    </div>
    <div class="section">
        <div class = "banner">
		    <h1>БУДЬ НА СВЯЗИ</h1>
		    <a id = "btnlogin" href = "account/signup/">СОЗДАТЬ СТРАНИЦУ</a>
	    </div>
    </div>

</body>
</html>